.abouttitle{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 3px 2px #ddd;
    max-height: 90px;
    padding-top: 3px;
    background-color:#C6E3EC;
}

.subtitle{
    padding-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtext{
    display: block;
    background-color: white;
    box-shadow: 2px 2px 3px 2px #ddd;
    max-height: 300px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 768px) {
    .subtext {
     font-size: 0.8em;
  }
 }

 @media (max-width: 768px) {
    .subtitle, .abouttitle {
     font-size: 1em;
  }
 }