.A-Loginform{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    /* margin-top: 40px; */
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
    padding: 20px 40px;
    border-radius: 5%;
}


.label{
    padding-top: 5px;
}

.A-logintitle{
    text-align: center;
}

.A-d-flex{
    display: flex;
    padding-top: 40px;
    padding-bottom: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 34% 75%, rgba(142, 142, 142,0.06) 0%, rgba(142, 142, 142,0.06) 50%,rgba(11, 11, 11,0.06) 50%, rgba(11, 11, 11,0.06) 100%),radial-gradient(circle at 40% 51%, rgba(12, 12, 12,0.06) 0%, rgba(12, 12, 12,0.06) 50%,rgba(242, 242, 242,0.06) 50%, rgba(242, 242, 242,0.06) 100%),radial-gradient(circle at 50% 87%, rgba(189, 189, 189,0.06) 0%, rgba(189, 189, 189,0.06) 50%,rgba(0, 0, 0,0.06) 50%, rgba(0, 0, 0,0.06) 100%),linear-gradient(90deg, hsl(35,0%,96%),hsl(35,0%,96%));
}